**/.DS_Store
**/build
**/*.pyc
**/vcal_webgui/media/vc_data/*_images
**/vcal_webgui/media/vc_data/*_cache
**/vcal_webgui/media/vc_data/*_dat
**/vcal_webgui/media/vc_data/*_eqsim
**/vcal_webgui/static
**/vcal_webgui/vcal_webgui.db
**/UserInterfaceState.xcuserstate
**/vcal_webgui/vcal_webgui/settings.py
**/DerivedData