**/.DS_Store
**/build
**/*.pyc
**/webvc/media/vc_data/*_images
**/webvc/media/vc_data/*_cache
**/webvc/media/vc_data/*_dat
**/webvc/media/vc_data/*_eqsim
**/webvc/static
**/webvc/vcal_webgui.db
**/UserInterfaceState.xcuserstate
**/vcal_webgui/vcal_webgui/settings.py
**/DerivedData
**/pyvc/*demo*
**/pyvc/sandbox*
**/pyvc/vcal_py_*.dat